@page "/Usuario"
@using Client.Data

<MudTable UserAttributes="@(new Dictionary<string, object> {{"id","tblUsuarios"}})" ServerData="@(new Func<TableState, Task<TableData<DireccionViewModel>>>(GetUsuarioAsync))"
          Bordered="true"
          Dense="true" Hover="true" ReadOnly="true" SortLabel="Ordenar por" Elevation="4" @ref="_usuarioTable">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Usuarios</MudText>
        <MudIconButton UserAttributes="@(new Dictionary<string, object> {{"id","btnNew"}})" Icon="@Icons.Material.Outlined.AddCircleOutline" Size="Size.Medium"
                       @onclick="NavigateToAddUsuarioPage" Color="Color.Primary"></MudIconButton>
        <MudCheckBox @bind-Value="@_checkbox" Color="Color.Warning" CheckedIcon="@Icons.Material.Filled.RemoveRedEye" UncheckedIcon="@Icons.Material.Outlined.RemoveRedEye"></MudCheckBox>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Editar</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>CURP</MudTh>
        <MudTh>RFC</MudTh>
        <MudTh>Calle</MudTh>
        <MudTh>Entre calles</MudTh>
        @if (_checkbox)
        {
            <MudTh>Teléfonos</MudTh>
            <MudTh>Colonia</MudTh>
            <MudTh>Municipio</MudTh>
            <MudTh>Estado</MudTh>
            <MudTh>Correo</MudTh>
        }        
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Editar" Style="text-align: center">
            <MudIconButton UserAttributes="@(new Dictionary<string, object> {{"id","btnEdit"}})" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                           @onclick="()=> NavigateToEditUsuarioPage(context)" Size="Size.Medium"></MudIconButton>
        </MudTd>
        <MudTd DataLabel="Nombre">
            @context.Usuario.NombreCompleto
        </MudTd>
        <MudTd DataLabel="CURP">
            @context.Usuario.Curp
        </MudTd>
        <MudTd DataLabel="RFC">
            @context.Usuario.Rfc
        </MudTd>
        <MudTd DataLabel="Calle">
            <div>@context.Calle</div>
            <div>INT: @context.NumeroInterior</div>
            <div>EXT: @context.NumeroExterior</div>
        </MudTd>
        <MudTd DataLabel="Entre calles">
            <div>@context.Calle1</div> y
            <div>@context.Calle2</div> 
        </MudTd>
        @if (_checkbox)
        {
            <MudTd DataLabel="Telefonos">
                <div>Teléfono: @context.Usuario.Telefono</div>
                <div>Teléfono Fijo: @context.Usuario.TelefonoFijo</div>
            </MudTd>
            <MudTd DataLabel="Colonia">
                @context.Colonia.Nombre
            </MudTd>
            <MudTd DataLabel="Municipio">
                @context.Colonia.Municipio.Nombre
            </MudTd>
            <MudTd DataLabel="Estado">
                @context.Colonia.Municipio.Estado.Nombre
            </MudTd>
            <MudTd DataLabel="Correo">
                @context.Usuario.Correo
            </MudTd>
        }
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No se encontraron registros</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Cargando...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="_pageSizeOptions" RowsPerPageString="Resultados por página" InfoFormat="@_infoFormat" />
    </PagerContent>
</MudTable>